@model GameOperation.Models.GameResultDTO

@{
    ViewBag.Title = "Atualizar Pontuação";
}

<h2>Atualizar Pontuação</h2>
<h2 style="color:red">@ViewBag.InfoServico</h2>

@using (Html.BeginForm("AtualizarPontuacao", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Atualiza pontuação dos players</h4>
    <hr />
    
    @Html.ValidationSummary()
    
    <div class="form-group">
        @Html.LabelFor(m => m.playerId, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.playerId, ViewBag.Players as IEnumerable<SelectListItem>, new { @class = "form-control" })
        </div>
    </div>
    
        <div class="form-group">
        @Html.LabelFor(m => m.gameId, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.gameId, ViewBag.Games as IEnumerable<SelectListItem>, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.win, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.win, new { @class = "form-control" })
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Salvar" />
        </div>
    </div>
    
}

    @section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}